.left-summary{
 background-color: honeydew;
border-radius: 2px;
margin-top:5%;
margin-left:5%;
padding:20px;
text-align:justify;
overflow: hidden;
height:50vh;
}
body{
    background-color: grey;
    overflow-x: hidden; /* Hide scrollbars */
      
}

p{ margin:0;
    padding: 0;
    font-size: 13.72px;
color: rgba(102, 102, 102,0.9)
}

.right-div{
background-color: white;
margin-top:5%;
margin-left:10px;
padding:50px;

overflow-x: hidden;
overflow-y: auto;
text-align:justify;
}